name: Build and Deploy app

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-deploy:
    name: Build and Deploy app
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Create env file
        run: |
          touch .env
          echo DOCKER_HUB_USERNAME=${{ secrets.DOCKER_HUB_USERNAME }} >> .env
          cat .env

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      - name: Run quality control checks
        run: make audit

      - name: Build the cmd/api application
        run: make build/api

      - name: Build the Docker image for cmd/api application
        run: make build/api/image

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          dockerfile: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/bookshop:latest
